* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --background-color: snow;
  --text-color: #333;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: background 1s ease-in-out;
}

button,
input {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 2rem;
  font-family: monospace;
  padding: 0.5rem 1rem;
  border: 5px solid var(--text-color);
  border-radius: 2px;
  cursor: pointer;
}

button {
  width: 20rem;
}
